:root {
    --color-button-backgroundalternate: #3787b1;
    --color-button-backgroundnormal: #292c30;
    --color-button-decorationfocus: #3daee9;
    --color-button-decorationhover: #3daee9;
    --color-button-foregroundactive: #3daee9;
    --color-button-foregroundinactive: #a1a9b1;
    --color-button-foregroundlink: #3daee9;
    --color-button-foregroundnegative: #da4453;
    --color-button-foregroundneutral: #f67400;
    --color-button-foregroundnormal: #fcfcfc;
    --color-button-foregroundpositive: #27ae60;
    --color-button-foregroundvisited: #9b59b6;
    --color-complementary-backgroundalternate: #1e5774;
    --color-complementary-backgroundnormal: #202326;
    --color-complementary-decorationfocus: #3daee9;
    --color-complementary-decorationhover: #3daee9;
    --color-complementary-foregroundactive: #3daee9;
    --color-complementary-foregroundinactive: #a1a9b1;
    --color-complementary-foregroundlink: #3daee9;
    --color-complementary-foregroundnegative: #da4453;
    --color-complementary-foregroundneutral: #f67400;
    --color-complementary-foregroundnormal: #fcfcfc;
    --color-complementary-foregroundpositive: #27ae60;
    --color-complementary-foregroundvisited: #9b59b6;
    --color-selection-backgroundalternate: #3080aa;
    --color-selection-backgroundnormal: #3080aa;
    --color-selection-decorationfocus: #3daee9;
    --color-selection-decorationhover: #3daee9;
    --color-selection-foregroundactive: #3daee9;
    --color-selection-foregroundinactive: #000000;
    --color-selection-foregroundlink: #2d7faa;
    --color-selection-foregroundnegative: #b03745;
    --color-selection-foregroundneutral: #c65c00;
    --color-selection-foregroundnormal: #000000;
    --color-selection-foregroundpositive: #176839;
    --color-selection-foregroundvisited: #9b59b6;
    --color-tooltip-backgroundalternate: #202326;
    --color-tooltip-backgroundnormal: #292c30;
    --color-tooltip-decorationfocus: #3daee9;
    --color-tooltip-decorationhover: #3daee9;
    --color-tooltip-foregroundactive: #3daee9;
    --color-tooltip-foregroundinactive: #a1a9b1;
    --color-tooltip-foregroundlink: #3daee9;
    --color-tooltip-foregroundnegative: #da4453;
    --color-tooltip-foregroundneutral: #f67400;
    --color-tooltip-foregroundnormal: #fcfcfc;
    --color-tooltip-foregroundpositive: #27ae60;
    --color-tooltip-foregroundvisited: #9b59b6;
    --color-view-backgroundalternate: #1d1f22;
    --color-view-backgroundnormal: #141618;
    --color-view-decorationfocus: #3daee9;
    --color-view-decorationhover: #3daee9;
    --color-view-foregroundactive: #3daee9;
    --color-view-foregroundinactive: #a1a9b1;
    --color-view-foregroundlink: #3daee9;
    --color-view-foregroundnegative: #da4453;
    --color-view-foregroundneutral: #f67400;
    --color-view-foregroundnormal: #fcfcfc;
    --color-view-foregroundpositive: #27ae60;
    --color-view-foregroundvisited: #9b59b6;
    --color-window-backgroundalternate: #292c30;
    --color-window-backgroundnormal: #202326;
    --color-window-decorationfocus: #3daee9;
    --color-window-decorationhover: #3daee9;
    --color-window-foregroundactive: #3daee9;
    --color-window-foregroundinactive: #a1a9b1;
    --color-window-foregroundlink: #3daee9;
    --color-window-foregroundnegative: #da4453;
    --color-window-foregroundneutral: #f67400;
    --color-window-foregroundnormal: #fcfcfc;
    --color-window-foregroundpositive: #27ae60;
    --color-window-foregroundvisited: #9b59b6;

    --color-background: var(--color-window-backgroundnormal);
    --color-foreground: var(--color-window-foregroundnormal);
    --background: var(--color-window-backgroundnormal);
    --foreground: var(--color-window-foregroundnormal);

    body {
        background-color: var(--color-window-backgroundnormal);
    }
}